body {
    font:normal 12px/20px Helvetica, Verdana, Geneva, sans-serif;
    margin:0;
    padding:0;
    color:#444;
}

#map {
    display:block;
    position: fixed;
    top:32px;
    left:0;
    width:100%;
    height:100%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAI0lEQVQIW2NkYGD4f+/ePSAFAYxAzn84D1lASUmJAaQSQwUAcxYRaXDVJ6QAAAAASUVORK5CYII=);
}


input#geocode-location {
    position:absolute;
    background:#f4f4ff;
    color:#222;
}

input[type=text] {
    font: normal 12px/20px Helvetica, Verdana, Geneva, sans-serif;
    padding:1px 2px;
}

input[type=text]:focus {
    border-color:#222;
}

#bar {
    background:#000000;
    position:absolute;
    width:100%;
    padding:0;
    margin:0;
    border:0;
    left:0px;
    top:0px;
    height:32px;
    right:0;
}

	
	#bar button {
	    line-height: 36px;
	    width:80px;
	    vertical-align: middle;	
	    white-space: nowrap;
	    cursor: pointer;
	    text-align: center;
	    display: inline-block;
	    background: #000000;
	    color: #EEEEEE;
	    font:bold 14px/30px Helvetica, Verdana, Geneva, sans-serif;
	    border:0;
	    border-right:1px solid #808080;
	    padding:0;
	    padding-left: 2px;
	    height:100%;
	    margin:0;
	 }

	#bar button:hover {
	    background:#EEEEEE;
	    color:#000000;
	}
	
	#bar button.active {
	    background:#EEEEEE;
	    color:#000000;
	}
	
	#bar button.zoom-out {
		width:32px;
	}

	#bar button.zoom-in {
		width:32px;
	}

:focus {
    outline-color: transparent;
    outline-style: none;
    cursor: pointer;
}

p {
    margin:0;
    padding:0;
    font-size: x-small;
}

a:visited, a {
    color: #C0C000;
}


#bar .leftbuttons {
    border:0;
    border-left: 1px solid #808080;
    margin:0;	
    position: absolute;
    left: 80px;
    top: 0;
    height:100%;    
}
 
#bar .zoombuttons {
    border:0;
    border-left: 1px solid #808080;
    margin:0;	
    position: absolute;
    right: 0;
    top: 0;
    height:100%;    
}


.overlay {
	visibility: hidden;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAHUlEQVQ4y2P8//9/PQMFgImBQjBqwKgBowYMFgMAZawDnC46+EwAAAAASUVORK5CYII=);	
}

.dialog {
	width: 100%;
	top: 64px;
	left: 80px;
	position: fixed;
	visibility: hidden;
	cursor: pointer;
	-webkit-user-select: none;  
  	-moz-user-select: none;    
  	-ms-user-select: none;      
  	user-select: none;
	width: 480px;
	vertical-align: middle;
	margin: auto;
	padding: 10px;
	background-color: #000000;
	color: #EEEEEE;
	border: 4px solid #EEEEEE;
	font: bold 14px/30px Helvetica, Verdana, Geneva, sans-serif;
}

.inspector-wrap {
    position:absolute;
    top:40px;
    right:0px;
    overflow:auto;
    padding:10px;
    background:#eee;
    border-top:1px solid #000;
    color:#222;
    width:350px;
}

.inspector-wrap h2 {
    font: bold 20px/20px 'Helvetica';
}

.inspector-wrap a.permalink {
    text-decoration:none;
    margin-right:1em;
    font: normal 11px/20px 'Helvetica'
}

.inspector thead th {
    font-size:10px;
    line-height:15px;
    color:#999;
    font-weight:normal;
    text-transform:uppercase;
}

.inspector tbody td {
    border: 1px solid #ccc;
    width:150px;
}

.inspector input {
    margin:0;
    padding:4px;
    border:0;
    background:#fff;
    width:150px;
}

.inspector-wrap table {
    border-collapse: collapse;
    width:350px;
    border-spacing:0;
}
.inspector-wrap .tag-table-wrap {
    max-height:350px;
    overflow-y:scroll;
    overflow-x:hidden;
}
.inspector-wrap table th {
    text-align:left;
}
.inspector-wrap table td {
    padding:0;
    border-spacing:0;
}

.inspector-wrap .close {
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

#jsddm {	margin: 0;
	padding: 0;
	border: 0;
	height: 32px;
    width: 80px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    display:inline-block;
    background: #000000;
    color: #EEEEEE;
    font:bold 14px/30px Helvetica, Verdana, Geneva, sans-serif;
    border-right:1px solid #808080;
}

	#jsddm li
	{	float: none;
		list-style: none;
		font: bold 14px/30px Helvetica, Verdana, Geneva, sans-serif;
	}

		#jsddm li a
		{	display: block;
			background: #000000;
			padding: 0;
			padding-left: 5px;
			border: 0;
			margin: 0;
			height: 32px;
			width:155px;
			text-align: left;
			text-decoration: none;
			color: #EEEEEE;
			white-space: nowrap
		}
	
		#jsddm li a:hover {	
			background: #EEEEEE;
			color:#000000;
		}
			
		#jsddm li ul {	
			margin: 0;
			padding: 0;
			border: 0;
			height: 100%;
			position: absolute;
			visibility: hidden;
		}
		
			#jsddm li ul li	{
				float: none;
				display:block;
			}
			
			#jsddm li ul li a {	
				background: #000000;
				color: #EEEEEE
			}
			
			#jsddm li ul li a:hover	{	
				background: #EEEEEE;
				color: #000000
			}
